.main {
  display: grid; /* Отображать как контейнер */
  grid-template-columns: repeat(2, 1fr); /* 7 колонок */
  gap: 0.5rem; /* Отступы между элементами */
  width: 100%; /* Контейнер занимает всю доступную ширину */
  height: 48px;
  margin: 0 auto; /* Центрирование контейнера */
}

.card {
  border-radius: 6px;
  background: lightgrey;
  transition: 0.4s ease-in-out, 0.2s background-color;
  background: white;
  animation: 2s loading90 infinite;
}

.card:nth-child(2) {
  animation-delay: 1s;
}

@keyframes loading90 {
  0% {
    background: white;
  }

  50% {
    background: #4caf50;
  }

  100% {
    background: white;
  }
}
